body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif; /* Change the font family to your preference */
  background-color: #f5f5f5; /* Set a light background color */
}

.background {
  background-image: url("");
  background-size: 450;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the opacity of the background */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

h1 {
  color: #333;
  margin-bottom: 20px; /* Add some spacing below the heading */
}

input[type="file"] {
  margin-bottom: 20px; /* Increase the bottom margin for better spacing */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box; /* Ensure the padding is included in the width */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
